<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{name}},</p>
        <p>Attachted is a copy of the exported data you requested.</p>
    </body>
</html>