<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{name}},</p>
        <p>Your reset password request was processed sucessfully.</p>
        <p> You can login back into the website using the below link :</p>
        <a href="{{link}}">Login</a>
    </body>
</html>